pandas
gspread
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pydantic
openpyxl
python-dotenv
flask
flask-wtf
langgraph
langsmith
langchain-core
langchain-mistralai
psycopg[binary]
pgvector
pymysql
gunicorn